<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handsBuy.dao.SpecificationDao">

    <!-- 配置 查询结果的列名和实体类的属性名的对应关系 -->
    <resultMap id="specificationMap" type="com.handsBuy.entity.TbSpecification">
        <!-- 主键字段的对应 -->
        <id property="id" column="id"></id>
        <!--非主键字段的对应-->
        <result property="specName" column="spec_name"></result>
        <!--<collection property="specificationOptionList" ofType="com.handsBuy.entity.SpecificationOption">
            <id property="optionId" column="option_id"></id>
            <result property="optionName" column="option_name"></result>
            <result property="specId" column="spec_id"></result>
            <result property="orders" column="orders"></result>
        </collection>-->
    </resultMap>

    <resultMap id="optionnMap" type="com.handsBuy.entity.TbSpecificationOption">
        <!-- 主键字段的对应 -->
        <id property="id" column="id"></id>
        <result property="optionName" column="option_name"></result>
        <result property="specId" column="spec_id"></result>
        <result property="orders" column="orders"></result>
    </resultMap>

    <!-- 查询所有信息-->
    <select id="findSpecificationAll" resultMap="specificationMap">
        select * from tb_specification
    </select>

    <!-- 查询所有信息-->
    <select id="findOptionAll" parameterType="Long" resultMap="optionnMap">
        select * from tb_specification_option where spec_id=#{specId} order by orders
    </select>
</mapper>